<div class="promo">
  <span>
    <a href="#">
      <i class="fas fa-envelope"></i> contactvitahealthc@gmail.com
    </a></span>
  <span>ENJOY 15% OFF WHEN YOU SPEND $40 OR MORE FOR NEW SUBSCRIBERS ONLY WHEN SUBSCRIBERS WITH EMAIL</span>
  <span>
    <ul class="media_social">
      <li>
        <a href="https://www.instagram.com/vitahealthc/">
          <i class="fab fa-instagram"></i>
        </a>
      </li>
    </ul>
  </span>
</div>