<div class="promo">
  <span>
    <a href="mailto:contactvitahealthc@gmail.com">
      <i class="fas fa-envelope"></i> contactvitahc@gmail.com
    </a></span
  >
  <span>ENJOY 15% OFF WHEN YOU SPEND $40 OR MORE FOR NEW SUBSCRIBERS ONLY WHEN SUBSCRIBERS WITH EMAIL</span>
  <span>
    <ul class="media_social">
      <li>
        <a href="https://www.instagram.com/vitahealthc/" target="_blank">
          <i class="fab fa-instagram"></i>
        </a>
      </li>
      <li>
        <a href="https://www.tiktok.com/@vitahealthc?_t=8ekxQXRnPRf&_r=1" target="_blank">
          <i class="fab fa-tiktok"></i>
        </a>
      </li>
      <li>
        <a href="https://www.facebook.com/vitahealthcenter8" target="_blank">
          <i class="fab fa-facebook-square"></i>
        </a>
      </li>
    </ul>
  </span>
</div>