<div class="footer">
  <div class="container-footer">
    <div class="row-footer">
      <div class="footer-col-3">
        <a href="/">
          <h3>Vita Health Center</h3>
        </a>
        <ul>
          <li>
            <a href="/blog">Blogs Post</a>
          </li>
          <li>
            <a href="/privacy_policies">Terms of Use — Privacy Policy</a>
          </li>
        </ul>
      </div>

      <div class="footer-col-2">
        <a href="/">
          <img src="./img/1.png" />
        </a>
      </div>

      <div class="footer-col-3">
        <a href="/skincare">
          <h3>Vita Skincare</h3>
        </a>
        <ul>
          <li class="li-footer"></li>
          <li>
            <a href="/blog">Blogs Post</a>
          </li>
          <li>
            <a href="/shop">shop</a>
          </li>
        </ul>
      </div>
      <div class="footer-col-4">
        <h3>Follow us</h3>
        <ul>
          <li>
            <a href="https://www.tiktok.com/@vitahealthc?is_from_webapp=1&sender_device=pc" target="_blank">tiktok</a>
          </li>
          <li>
            <a href="https://www.instagram.com/vitahealthc/" target="_blank">Instagram</a>
          </li>
          <li>
            <a href="https://www.facebook.com/vitahealthcenter8" target="_blank">Facebook</a>
          </li>
        </ul>
      </div>
    </div>
    <hr />
    <p class="copyright">Copyright 2021 - Vita Inc</p>
  </div>
</div>