<!-- NAVIGATION -->
<nav class="nav">
  <div class="navigation">
    <!-- Elemento 1 -->

    <!-- Elemento 2 -->
    <div class="menu">

      <ul class="nav-list d-flex">

        <li class="nav-item">
          <a href="/" class="nav-link"> HOME </a>
        </li>

        <li class="nav-item has-submenu">
          <a href="/skincare" class="nav-link">
            SKINCARE <i class="fas fa-angle-down"> </i>
          </a>
          <ul class="submenu">
            <li>
              <a href="/shop" class="nav-link">
                SHOP
              </a>
            </li>
            <li>
              <a href="https://shorturl.at/gpAO7" 
                target="_blank" 
                class="nav-link">
                  Booking
              </a>
            </li>
          </ul>
        </li>

        <li class="nav-item">
          <a href="/blog" class="nav-link"> BLOG </a>
        </li>

        <li class="nav-item nav-logo">
          <a href="/" class="nav-link">
            <img class="logo" src="/img/1.png" alt="" />
          </a>
        </li>

        <li class="nav-item">
          <a href="/login" class="nav-link">
            <%= account %> <i class="fas fa-user"></i>
          </a>
        </li>

        <li class="nav-item">
          <a href="/shopping_cart" class="nav-link">
            <i class="fas fa-shopping-bag"></i>
            <span class="h5">(<%= car.items.length %>)</span>
          </a>
        </li>
      </ul>
    </div>

    <!-- Top Navigation Menu mobile -->
    <div class="topnav">
      <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
      </a>
      <div id="myLinks">
        <a href="/" class="nav-link"> HOME </a>
        <a href="/skincare" class="nav-link">
          SKINCARE
        </a>
        <a href="/shop" class="nav-link">
          SHOP
        </a>
        <a href="https://shorturl.at/gpAO7" 
          target="_blank" 
          class="nav-link">
            Booking
        </a>
        <a href="/shopping_cart" class="nav-link">
          <i class="fas fa-shopping-bag"></i>
          <span class="h5">(<%= car.items.length %>)</span>
        </a>
      </div>
    </div>
  </div>
</nav>

<script>
  function myFunction() {
    var x = document.getElementById("myLinks");
    if (x.style.display === "block") {
      x.style.display = "none";
    } else {
      x.style.display = "block";
    }
  }
</script>