<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../partials/head.ejs'); %>
	</head>
<body>
  <div class="header">
    <%- include('../partials/header.ejs', {account: user?.name ?? "", car }); %>
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">

  </div>
  <div id="preloader" bis_skin_checked="1" style="display: none;"></div>
  <div class="container mt-5 pt-5">
    <h1>Dashboard</h1>
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="card-header">
            <h4>Recent Activity</h4>
          </div>
          <div class="card-body">
            <ul class="list-group">
              <li class="list-group-item">
                <a href="/dashboard/products">Products</a>
              </li>
              <li class="list-group-item">
                <a href="/dashboard/categories">Categories</a>
              </li>
              <li class="list-group-item">
                <a href="/dashboard/users">Users</a>
              </li>
              <li class="list-group-item">
                <a href="/dashboard/posts">Posts</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="card p-2">
          <form action="/dashboard/posts" method="post" enctype="multipart/form-data">
              <div class="form-group">
                <label for="title">Title:</label>
                <input type="text" class="form-control" id="title" name="title" required>
              </div>

              <div class="form-group">
                <label for="image">Cover image:</label>
                <input type="file" name="image" id="image" required />
              </div>
    
              <div class="form-group">
                <div id="summernote"></div>
              </div>

              <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>

        <div class="card mt-2">
          <div class="card-header">
            <h4>Posts</h4>
          </div>
          <table class='table table-striped table-bordered table-hover'>
            <thead>
              <tr>
                <th>TITLE</th>
              </tr>
            </thead>
            <% posts.map(post => { %>
              <tr>
                <td><%= post.title %></td>
              </tr>
            <% }) %>
          </table>
        </div>
      </div>
    </div>
  </div>

  <%- include('../partials/script.ejs'); %>
  <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
  <script>
    // Obtener todos los elementos de formulario del documento
let forms = document.querySelectorAll("form");

// Recorrer cada elemento de formulario
for (let form of forms) {
  // Agregar un evento de submit al formulario
  form.addEventListener("submit", function (event) {
    // Prevenir el comportamiento por defecto de enviar el formulario
    event.preventDefault();

    // Obtener la URL del action del formulario
    let action = form.getAttribute("action");

    // Obtener los datos del formulario como un objeto FormData
    let formData = new FormData(form);

    const summernoteElement = $('#summernote');

    if (summernoteElement && summernoteElement.summernote) {
      const summernote = summernoteElement.summernote("code");
      formData.append("content", summernote);
    }

    fetch(action, {
      method: "POST",
      body: formData,
      redirect: "follow",
    })
      .then(async (response) => {
        if (response.ok) {
          const jsonData = await response.json();
          await Swal.fire("Success!", jsonData.message, "success");
          if (jsonData?.redirect) window.location.href = jsonData.redirect;
          else window.location.reload();
        } else {
          // Si hay algún error, mostrar un mensaje
          const error = await response?.json();

          Swal.fire({
            text: error?.message ?? response.statusText,
            icon: "error",
          });
        }
      })
      .catch((error) => {
        // Si hay algún error de red, mostrar un mensaje
        alert("Error de red: " + error);
      });
  });
}
  </script>
  <script>
    $(document).ready(function() {
      $('#summernote').summernote();
    });
  </script>
</body>
</html>