<!DOCTYPE html>
<html lang="en">

<head>

    <head>
        <%- include('partials/head.ejs'); %>

            <!-- Custom Stylesheet for FAQ only-->
            <link rel="stylesheet" href="assets/css/styles_faq.css">
    </head>
</head>

<body>
    <!--  ------------------ PROMO ------------------ -->
    <div class="promo">
        <span> <a href="mailto:contactvitahealthc@gmail.com"> <i class="fas fa-envelope"></i> contactvitahealthc@gmail.com </a></span>
        <span>Get 30% OFF This Christmas Holidays</span>
        <span>
            <ul class="media_social">
                <li>
                    <a href="#"><i class="fab fa-facebook-square"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </li>
            </ul>
        </span>
    </div>

    <!-- ------------------ HEADER ------------------------ -->
    <div class="header">
        <%- include('partials/header.ejs', { account: "LOGIN" }); %>
    </div>
    <!-- ------------------ End Header ------------------------ -->

    <section>

        <div class="container_faq">

            <div class="accordion">

                <!-- _________________ question #1 _________________ -->
                <div class="accordion-item" id="question1">
                    <a class="according-link" href="#question1">
                        How long do your appointments take? (Initial visits and follow-up treatments)
                        <ion-icon name="add-outline" class="add"></ion-icon>
                        <ion-icon name="remove-outline" class="remove"></ion-icon>
                    </a>
                    <div class="answer">
                        <p>The initial visit can last between one hour and a half to two hours.
                            The follow up treatments can last more or less than 45 minutes depending on the case.
                            
                        </p>
                    </div>
                </div>

                <!-- _________________ question #2 _________________ -->
                <div class="accordion-item" id="question2">
                    <a class="according-link" href="#question2">
                        Does acupuncture hurt?
                        <ion-icon name="add-outline" class="add"></ion-icon>
                        <ion-icon name="remove-outline" class="remove"></ion-icon>
                    </a>
                    <div class="answer">
                        <p>Depend on individual sensation, it can hurt, or it may not hurt at all.
                            Some points are more sensitive than others. But there are many different methods in Chinese
                            Medicine to treat without acupuncture if the patient feels scared.
                        </p>
                    </div>
                </div>

                <!-- _________________ question #3 _________________ -->
                <div class="accordion-item" id="question3">
                    <a class="according-link" href="#question3">
                        How many treatments will I need?
                        <ion-icon name="add-outline" class="add"></ion-icon>
                        <ion-icon name="remove-outline" class="remove"></ion-icon>
                    </a>
                    <div class="answer">
                        <p>It depends on what treatment patient will need, especially acute symptoms and chronical
                            symptoms take different number of sessions (after the initial consultation, we will advise
                            the patient how many treatments are expected. Usual treatment session is 10 sessions per
                            patient, and there will be an evaluation after each 10 sessions.</p>
                    </div>
                </div>

                <!-- _________________ question #4 _________________ -->
                <div class="accordion-item" id="question4">
                    <a class="according-link" href="#question4">
                        Do you accept insurance for payment?
                        <ion-icon name="add-outline" class="add"></ion-icon>
                        <ion-icon name="remove-outline" class="remove"></ion-icon>
                    </a>
                    <div class="answer">
                        <p>Yes, if the patient’s insurance covers for our acupuncture treatment.
                            We do not accept insurance for Facial Acupuncture treatment
                        </p>
                    </div>
                </div>

                <!-- _________________ question #5 _________________ -->
                <div class="accordion-item" id="question5">
                    <a class="according-link" href="#question5">
                        What is Acupuncture?
                        <ion-icon name="add-outline" class="add"></ion-icon>
                        <ion-icon name="remove-outline" class="remove"></ion-icon>
                    </a>
                    <div class="answer">
                        <p>Acupuncture is part of the ancient practice of traditional Chinese medicine. Traditional Chinese medicine practitioners believe the human body has more than 2,000 acupuncture points connected by pathways or meridians. These pathways create an energy flow (qi, pronounced "chee") through the body that is responsible for overall health. Disruption of the energy flow can cause disease. By applying acupuncture to certain points, it is thought to improve flow of qi, thereby improving health.
                        </p>
                    </div>
                </div>

                <!-- _________________ question #6 _________________ -->
                <div class="accordion-item" id="question6">
                    <a class="according-link" href="#question6">
                        How qi move?
                        <ion-icon name="add-outline" class="add"></ion-icon>
                        <ion-icon name="remove-outline" class="remove"></ion-icon>
                    </a>
                    <div class="answer">
                        <p>The four directions of qi movement are up, down, outward, and inward through the pathway.  These movements are so important that once qi can no longer travel in these directions, life will come to an end.
                        </p>
                    </div>
                </div>

                <!-- _________________ question #7 _________________ -->
                <div class="accordion-item" id="question7">
                    <a class="according-link" href="#question7">
                        How Qi can be affected?
                        <ion-icon name="add-outline" class="add"></ion-icon>
                        <ion-icon name="remove-outline" class="remove"></ion-icon>
                    </a>
                    <div class="answer">
                        <p>Pathway blockage can be caused externally by excessive cold, wind, dampness, dryness, fire (heat) or injury. It also can be caused by emotions such as anger, sadness, fear, stress, or depression, as well as an organ deficiency or malfunction. Figuring out the cause of the pain and which meridian is blocked is extremely important in treating pain. Relieving blood and chi stagnancy, balancing the energy, nourishing the tissue, increasing circulation, and building up deficient organs are all ways that TCM (Traditional Chinese Medicine) treats pain. Acupuncture can be used to correct the flow of chi. Herbal medicine can be used to reestablish and balance chi, blood, and moisture to avert pathological factors.
                        </p>
                    </div>
                </div>

                <!-- _________________ question #8 _________________ -->
                <div class="accordion-item" id="question8">
                    <a class="according-link" href="#question8">
                        What acupuncture feel like?
                        <ion-icon name="add-outline" class="add"></ion-icon>
                        <ion-icon name="remove-outline" class="remove"></ion-icon>
                    </a>
                    <div class="answer">
                        <p>Acupuncture is the practice of penetrating the skin with thin, solid, metallic needles which are then activated through gentle and specific movements of the practitioner's hands or with electrical stimulation. Acupuncture is part of the ancient practice of traditional Chinese medicine. Traditional Chinese medicine practitioners believe the human body has more than 2,000 acupuncture points connected by pathways or meridians. These pathways create an energy flow (qi, pronounced "chee") through the body that is responsible for overall health. Disruption of the energy flow can cause disease. By applying acupuncture to certain points, it is thought to improve flow of qi, thereby improving health.
                        </p>
                    </div>
                </div>

                <!-- _________________ question #9 _________________ -->
                <div class="accordion-item" id="question9">
                    <a class="according-link" href="#question9">
                        Why do they want to look your tongue
                        <ion-icon name="add-outline" class="add"></ion-icon>
                        <ion-icon name="remove-outline" class="remove"></ion-icon>
                    </a>
                    <div class="answer">
                        <p>The tongue acts like a barometer, reflecting the health and well-being of your internal meridian and organ system. As with the pulse, an acupuncturist will observe general characteristic of the tongue that show how your body is functioning in a macro level. Your acupuncturist will look at the color, shape, crack, and coating on your tongue.
                        </p>
                    </div>
                </div>

                <!-- _________________ question #10 _________________ -->
                <div class="accordion-item" id="question10">
                    <a class="according-link" href="#question10">
                        Why do they feel my pulse?
                        <ion-icon name="add-outline" class="add"></ion-icon>
                        <ion-icon name="remove-outline" class="remove"></ion-icon>
                    </a>
                    <div class="answer">
                        <p>They are 12 pulse position on each wrist your acupuncturist will palpate. Each position corresponds to specific meridian and organ system. An acupuncturist observes the quality of your pulse, looking for certain characteristic that reflect your overall health.
                        </p>
                    </div>
                </div>

                <!-- _________________ question #11 _________________ -->
                <div class="accordion-item" id="question11">
                    <a class="according-link" href="#question11">
                        Is acupuncture safe for children?
                        <ion-icon name="add-outline" class="add"></ion-icon>
                        <ion-icon name="remove-outline" class="remove"></ion-icon>
                    </a>
                    <div class="answer">
                        <p>Yes, in some instances children respond more quickly to acupuncture than adult also can be used acupressure or TUI NA massage.
                        </p>
                    </div>
                </div>

                <!-- _________________ question #12 _________________ -->
                <div class="accordion-item" id="question12">
                    <a class="according-link" href="#question12">
                        How are acupuncturist educated?
                        <ion-icon name="add-outline" class="add"></ion-icon>
                        <ion-icon name="remove-outline" class="remove"></ion-icon>
                    </a>
                    <div class="answer">
                        <p>Unusually three years but can if you take on additional classes for Traditional Chinese Medicine (TCM) and herbology. The acupuncturist to practice must need license from the state.
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- ------------------------  Footer ------------------------  -->
    <!-- ------------------------  Footer ------------------------  -->
    <div class="footer">
        <div class="container-footer">
            <div class="row-footer">
                
                <div class="footer-col-3">
                    <a href="/">
                        <h3>Vita Health Center </h3>
                    </a>
                    <ul>
                        <li>
                            <a href="/faq">FAQ</a>
                        </li>
                        <li>
                            <a href="/blog">Blogs Post</a>
                        </li>
                        <li>My Account</li>
                        <li>
                            <a href="/contact">Contact us</a>
                        </li>
                        <li>
                            <a href="/privacy_policies">Terms of Use — Privacy Policy</a>
                        </li>
                    </ul>
                </div>

                <div class="footer-col-2">
                    <a href="/">
                        <img src="./img/1.png">
                    </a>
                </div>

                <div class="footer-col-3">
                    <a href="/skincare">
                        <h3> Vita Skincare </h3>
                    </a>
                    <ul>
                        <li class="li-footer"></li>
                        <li>
                            <a href="/blog">Blogs Post</a>
                        </li>
                        <li>My Account</li>
                        <li>instructions</li>
                        <li>
                            <a href="/returns_exchanges">Return Policy</a>
                        </li>
                        <li>
                            <a href="/privacy_policies">Terms of Use — Privacy Policy</a>
                        </li>
                    </ul>
                </div>
                <div class="footer-col-4">
                    <h3> Follow us</h3>
                    <ul>
                        <li>Facebook</li>
                        <li>
                            <a href="https://www.instagram.com/vitahealthc/" target="_blank">Instagram</a>
                        </li>
                        <li>Pinterest</li>
                    </ul>
                </div>
            </div>
            <hr>
            <p class="copyright"> Copyright 2021 - Vita Inc</p>
        </div>
    </div>

    <!-- ionic -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>


</body>

</html>