<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('partials/head.ejs'); %>

		<!-- Custom Stylesheet for Privacy policies only-->
		<link rel="stylesheet" href="assets/css/styles_view_policies.css" />

		<!-- Animated CSS -->
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
		/>
	</head>

	<body>
		<!--  ------------------ PROMO ------------------ -->
		<div class="promo">
			<span>
				<a href="#">
					<i class="fas fa-envelope"></i> contactvitahealthc@gmail.com
				</a></span
			>
			<span>Get 30% OFF This Christmas Holidays</span>
			<span>
				<ul class="media_social">
					<li>
						<a href="#"><i class="fab fa-facebook-square"></i></a>
						<a href="#"><i class="fab fa-instagram"></i></a>
					</li>
				</ul>
			</span>
		</div>

		<!-- ------------------ HEADER ------------------------ -->
		<div class="header">
			<%- include('partials/header.ejs', { account: "LOGIN" }); %>
		</div>

		<div class="container_wrap">
			<div class="content_l animate__animated animate__backInRight">
				<h3>Frequently Asked Questionsss</h3>
				<ul>
					<li>
						<a href="/returns_exchanges">Return Policy</a>
					</li>
					<li>
						<a href="/privacy_policies">Privacy Policy</a>
					</li>
					<li>
						<a href="/terms_of_services">Terms of Service</a>
					</li>
				</ul>
			</div>

			<div class="content_r">
				<h3>Privacy Policy</h3>
				<h4>Overview</h4>
				<p>
					This Privacy Policy describes how your personal information is
					collected, used, and shared when you visit or make a purchase from
					www.vitahealthc.com (the “Site”).
				</p>
				<h4>Personal Information We Collect</h4>
				<p>
					When you visit the Site, we automatically collect certain information
					about your device, including information about your web browser, IP
					address, time zone, and some of the cookies that are installed on your
					device. Additionally, as you browse the Site, we collect information
					about the individual web pages or products that you view, what
					websites or search terms referred you to the Site, and information
					about how you interact with the Site. We refer to this automatically
					collected information as “Device Information.”
				</p>

				<h4>We collect Device Information using the following technologies:</h4>

				<ul>
					<li>
						<p>
							• “Cookies” are data files that are placed on your device or
							computer and often include an anonymous unique identifier. For
							more information about cookies, and how to disable cookies, visit
							http://www.allaboutcookies.org.
						</p>
					</li>
					<li>
						<p>
							• “Log files” track actions occurring on the Site, and collect
							data including your IP address, browser type, Internet service
							provider, referring/exit pages, and date/time stamps.
						</p>
					</li>
					<li>
						<p>
							• Web beacons,” “tags,” and “pixels” are electronic files used to
							record information about how you browse the Site.
						</p>
					</li>
				</ul>

				<p>
					Additionally, when you make a purchase or attempt to make a purchase
					through the Site, we collect certain information from you, including
					your name, billing address, shipping address, payment information
					(including credit card numbers), email address, and phone number. We
					refer to this information as “Order Information.”
				</p>
				<p>
					When we talk about “Personal Information” in this Privacy Policy, we
					are talking both about Device Information and Order Information.
				</p>

				<h4>How Do We Use Your Personal Information?</h4>

				<p>
					We use the Order Information that we collect generally to fulfill any
					orders placed through the Site (including processing your payment
					information, arranging for shipping, and providing you with invoices
					and/or order confirmations). Additionally, we use this Order
					Information to:
				</p>

				<ul>
					<li>
						<p>- Communicate with you.</p>
						<p>- Screen our orders for potential risk or fraud; and</p>
						<p>
							- When in line with the preferences you have shared with us,
							provide you with information or advertising relating to our
							products or services.
						</p>
					</li>
				</ul>

				<p>
					We use the Device Information that we collect to help us screen for
					potential risk and fraud (in particular, your IP address), and more
					generally to improve and optimize our Site (for example, by generating
					analytics about how our customers browse and interact with the Site,
					and to assess the success of our marketing and advertising campaigns).
				</p>

				<h4>Facebook</h4>

				<p>
					Using Facebook as well as other Site connection methods, we may
					utilize your personal data to better your individual Vita Health
					Center and Vita Skincare experience. We take your privacy seriously
					and abide by all Facebook terms, policies and agreements. Your data is
					kept secure and no actions are taken on your behalf without prior
					permission.
				</p>

				<h4>Sharing Your Personal Information</h4>

				<p>
					We share your Personal Information with third parties to help us use
					your Personal Information, as described above. For example, we use
					Shopify to power our online store--you can read more about how Shopify
					uses your Personal Information HERE. We use Google Analytics to help
					us understand how our customers use the Site--you can read more about
					how Google uses your Personal Information
					<a
						href="https://policies.google.com/privacy?hl=en"
						target="_blank"
						style="color: #3595db"
						>HERE</a
					>
					You can also opt-out of Google Analytics <a
						href="https://tools.google.com/dlpage/gaoptout"
						style="color: #3595db"
						target="_blank"
						>HERE</a
					>.
				</p>

				<P>
					Finally, we may also share your Personal Information to comply with
					applicable laws and regulations, to respond to a subpoena, search
					warrant or other lawful request for information we receive, or to
					otherwise protect our rights.
				</P>

				<h4>Behavioural Advertising</h4>

				<p>
					As described above, we use your Personal Information to provide you
					with targeted advertisements or marketing communications we believe
					may be of interest to you. For more information about how targeted
					advertising works, you can visit the <a
						href="https://networkadvertising.org/understanding-online-advertising/how-does-it-work"
						target="_blank"
						style="color: #3595db"
						> NETWORK ADVERTISING INITIATIVE’S (“NAI”) EDUCATIONAL PAGE.
					</a>
					You can opt out of targeted advertising by:
					<a href="https://www.facebook.com/settings/?tab=ads" target="_blank"
						>FACEBOOK</a
					>
					<a
						href="https://www.google.com/settings/ads/anonymous"
						target="_blank"
						>GOOGLE</a
					>
				</p>

				<P
					>Additionally, you can opt out of some of these services by visiting
					the
					<a
						href="http://optout.aboutads.info/"
						target="_blank"
						style="color: #3595db"
					>
						DIGITAL ADVERTISING ALLIANCE’S OPT-OUT PORTAL.
					</a>
				</P>

				<h4>Do Not Track</h4>

				<p>
					Please note that we do not alter our Site’s data collection and use
					practices when we see a Do Not Track signal from your browser.
				</p>

				<h4>Your Rights</h4>

				<p>
					If you are a European resident, you have the right to access personal
					information we hold about you and to ask that your personal
					information be corrected, updated, or deleted. If you would like to
					exercise this right, please contact us through the contact information
					below.
				</p>

				<p>
					Additionally, if you are a European resident, we note that we are
					processing your information in order to fulfill contracts we might
					have with you (for example if you make an order through the Site), or
					otherwise to pursue our legitimate business interests listed above.
					Additionally, please note that your information will be transferred
					outside of Europe, including to Canada and the United States.
				</p>

				<h4>Data Retention</h4>

				<p>
					When you place an order through the Site, we will maintain your Order
					Information for our records unless and until you ask us to delete this
					information.
				</p>

				<h4>Minors</h4>

				<p>
					The Site is not intended for individuals under the age of 18. If a
					parent or guardian becomes aware that his or her child has provided us
					with Personal Information without their consent, he or she should
					contact us at CONTACTVITAHEALTHC@GMAIL.COM with “Privacy” as the
					subject line of the email.
				</p>

				<h4>Changes</h4>

				<p>
					We may update this privacy policy from time to time in order to
					reflect, for example, changes to our practices or for other
					operational, legal or regulatory reasons.
				</p>

				<h4>Contact Us</h4>

				<p>
					For more information about our privacy practices, if you have
					questions, or if you would like to make a complaint, please contact us
					by e-mail at  CONTACTVITAHEALTHC@GMAIL.COM or by mail using the
					details provided below:
				</p>
			</div>
		</div>

		<!-- ------------------------  Footer ------------------------  -->
		<div class="footer">
			<div class="container-footer">
				<div class="row-footer">
					<div class="footer-col-3">
						<a href="/">
							<h3>Vita Health Center</h3>
						</a>
						<ul>
							<li>
								<a href="/faq">FAQ</a>
							</li>
							<li>
								<a href="/blog">Blogs Post</a>
							</li>
							<li>My Account</li>
							<li>
								<a href="/contact">Contact us</a>
							</li>
							<li>
								<a href="/privacy_policies">Terms of Use — Privacy Policy</a>
							</li>
						</ul>
					</div>

					<div class="footer-col-2">
						<a href="/">
							<img src="./img/1.png" />
						</a>
					</div>

					<div class="footer-col-3">
						<a href="/skincare">
							<h3>Vita Skincare</h3>
						</a>
						<ul>
							<li class="li-footer"></li>
							<li>
								<a href="/blog">Blogs Post</a>
							</li>
							<li>My Account</li>
							<li>instructions</li>
							<li>
								<a href="/returns_exchanges">Return Policy</a>
							</li>
							<li>
								<a href="/privacy_policies">Terms of Use — Privacy Policy</a>
							</li>
						</ul>
					</div>
					<div class="footer-col-4">
						<h3>Follow us</h3>
						<ul>
							<li>Facebook</li>
							<li>
								<a href="https://www.instagram.com/vitahealthc/" target="_blank"
									>Instagram</a
								>
							</li>
							<li>Pinterest</li>
						</ul>
					</div>
				</div>
				<hr />
				<p class="copyright">Copyright 2021 - Vita Inc</p>
			</div>
		</div>
	</body>
</html>
