<!DOCTYPE html>
<html>
<head>
	<title>Signup</title>
</head>
<body>

	<h1>registro de prueba</h1>
	<form action="/signup" method="post" enctype="multipart/form-data">
		<input type="text" name="name" placeholder="Nombre">
		<input type="text" name="lastname" placeholder="Apellido">
		<input type="email" name="email" placeholder="email">
		<input type="password" name="password" placeholder="password">
		<input type="submit" name="signup">
	</form>
</body>
</html>