<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<%- include('partials/head.ejs'); %>
	<!-- Bootstrap CSS -->

	<title>Registration Form</title>


	<link rel="stylesheet" href="assets/css/styles_registration_form.css">
</head>

<body>

	<div class="container">
		<div class="row" id="registrationForm">

			<div class="col-md-8">
				<img src="./img/beauty-portrait-of-happy-young-woman (1).jpg" class="img-fluid" alt="" />
			</div>

			<div class="col-md-4">

				<form class="form" action="/signup" method="POST">

					<h3> <b>Sign Up</b> </h3>
					<br>
					<!-- ---------- Name ------------>
					<div class="form-group">
						<label for="">Name</label>
						<input type="text" name="name" placeholder="Name" class="form-control" required>
					</div>

					<!-- ---------- Lasta name ------------>
					<div class="form-group">
						<label for="">Last name</label>
						<input type="text" name="lastname" placeholder="last name" class="form-control" required>
					</div>

					<!-- ---------- Email ------------>
					<div class="form-group">
						<label for="">Email</label>
						<input type="email" name="email" placeholder="johndoe@gmail.com" class="form-control" required />
					</div>

					<!-- ---------- Password ------------>
					<div class="form-group">
						<label for="">Password</label>
						<input type="password" name="password" placeholder="*******************" class="form-control" required />
					</div>

					<!-- ---------- repeat password ------------>
					<div class="form-group">
						<label for="">Repeat password</label>
						<input type="password" name="password_confirm" placeholder="*******************" class="form-control" required />
					</div>

					<button type="submit" name="signup" class="btn btn-primary">Sign Up</button>

				</form>
			</div>
		</div>
	</div>

	<!-- Option 1: Bootstrap Bundle with Popper -->
	<%- include('partials/script.ejs'); %>
	<script src="/assets/js/index.js"></script>
</body>

</html>