<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<!-- Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />

	<title>Registration Form</title>

	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;400;500&display=swap" rel="stylesheet" />

	<link rel="stylesheet" href="assets/css/styles_registration_form.css">
</head>

<body>

	<div class="container">
		<div class="row" id="registrationForm">

			<div class="col-md-8">
				<img src="./img/beauty-portrait-of-happy-young-woman (1).jpg" class="img-fluid" alt="" />
			</div>

			<div class="col-md-4">

				<form class="form">

					<h3> <b>Sign Up</b> </h3>
					<br>
					<!-- ---------- Name ------------>
					<div class="form-group">
						<label for="">Name</label>
						<input type="text" placeholder="Name" class="form-control">
					</div>

					<!-- ---------- Lasta name ------------>
					<div class="form-group">
						<label for="">Last name</label>
						<input type="text" placeholder="last name" class="form-control">
					</div>

					<!-- ---------- Email ------------>
					<div class="form-group">
						<label for="">Email</label>
						<input type="email" name="email" placeholder="johndoe@gmail.com" class="form-control"/>
					</div>

					<!-- ---------- Password ------------>
					<div class="form-group">
						<label for="">password</label>
						<input type="password" name="password" placeholder="*******************" class="form-control"/>
					</div>

					<!-- ---------- repeat password ------------>
					<div class="form-group">
						<label for="">repeat password</label>
						<input type="password" name="password" placeholder="*******************" class="form-control"/>
					</div>

					<button type="button" class="btn btn-primary">Sign Up</button>

				</form>
			</div>
		</div>
	</div>

	<!-- Option 1: Bootstrap Bundle with Popper -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous">
	</script>
</body>

</html>