<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head.ejs'); %>
</head>

<body>
    <!--  ------------------ PROMO ------------------ -->
    <div class="promo">
        <span> <a href="#"> <i class="fas fa-envelope"></i> contactvitahealthc@gmail.com </a></span>
        <span>Get 30% OFF This Christmas Holidays</span>
        <span>
            <ul class="media_social">
                <li>
                    <a href="#"><i class="fab fa-facebook-square"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </li>
            </ul>
        </span>
    </div>

    <!-- ------------------ HEADER ------------------------ -->
    <div class="header">
        <%- include('partials/header.ejs'); %>
    </div>
    <!-- ------------------ End Header ------------------------ -->

    <!-- -------------- Main ---------------->
    <main>
        <!-- Hero -->
        <section class="hero">
            <div class="glide" id="glide1">
                <div class="glide__track" data-glide-el="track">
                    <ul class="glide__slides glide__hero">
                        <li class="glide__slide">
                            <div class="banner">
                                <div class="banner-content shop-now_btn">

                                    <div class="buttons-group shop-buttons-now">
                                        <button>SHOP NOW</button>
                                    </div>
                                </div>
                                <img src="./img/BANNER SKINCARE DEFINITIVO-min.jpg" class="special_01" alt="">
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </main>

    <!-- ----------- Sección About Us------------- -->
    <section class="section">

        <div class="title title-shop-skinscare">
            <h1>About us</h1>
            <div>
                <header class="header-container header-history">
                    <!-- - HISTORY ABOUT VITAHEALTHC - -->
                    <h2 class="title-back title-back-skinscare">History Vita Skincare</h2>
                    <hr class="hr-skinscares">
                </header>
                <div class="title-paragraph paragraph-left">

                    <p class="">
                        When I was an acupuncture student in October 2020, I did a facial acupuncture
                        specialization.  I discovered with the use of a good serum and  the derma roller or hydra
                        roller,
                        it is possible that you can rejuvenate your face and more without using chemical and plastic
                        surgery
                        to look younger. This process  can deform your appearance over time
                    </p>

                    <ul>
                        <li> 
                            Hydra roller which is a serum infuser. Statistic South Korea, Europe and USA clinically
                            conducted studies have shown that the roller can increase serum absorption by as much as 300
                            times.
                        </li>
                        <li>
                            Derma Roller with titanium needle eliminates wrinkles, dark spots, acne scars. It produces
                            collagen, smooths the skin, and improves hair growth.  Studies in 10 patients demonstrated
                            an
                            average increase in collagen and elastin fiber of 206% in one case a 1000%
                        </li>
                    </ul>

                </div>
                <p class="title-paragraph">
                    Vita Skincare is supported by Vita Health Center. It was created to give his clients and anybody who
                    likes noninvasive facial rejuvenation, vegan, and organic skincare products.
                </p>

                <header class="header-container">
                    <!-- - MISSION - -->
                    <h2 class="title-back title-back-skinscare">Vita Skincare Organic & Vegan Beauty </h2>
                    <hr class="hr-skinscares">
                </header>
                <p class="title-paragraph">
                    We are proud to offer high quality natural products infused with organic
                    ingredients. Products formulated without parabens or harsh chemicals and never tested
                    on animals. Vita skin care provides love, peace of mind, satisfaction and enjoyment. We are 
                    transparent in our disclosures and make you  conscious of our global impact on nature. Vita skin
                    care is for someone who is looking for a natural way to rejuvenate the skin in an organic, vegan and
                    noninvasive way.
                </p>
            </div>
        </div>
    </section>

    <!-- ----------------- Our Values -----------------  -->
    <section class="section services-container">
        <div class="title">
            <div>
                <header class="header-container">
                    <h2 class="title-back title-back-skinscare">Our Values</h2>
                    <hr class="hr-skinscares">
                </header>
            </div>
        </div>
        <div>
            <nav class="services">

                <!-- Service 1 -->
                <figure class="service-btn">
                    <img src="./img/icon-ammaterre-skincare-01_360x.png" alt="">
                    <h3 title-back-skinscare>We promote natural and noninvasive skin care solution</h3>
                    <figcaption class="caption-skinscare">
                        We promote a conscious lifestyle for all our community and the use our derma roller and hydra
                        roller.
                    </figcaption>
                </figure>

                <!-- Service 2 -->
                <figure class="service-btn">
                    <img src="./img/icon-ammaterre-skincare-02_360x.png" alt="">
                    <h3>We protect the life of all Animals.</h3>
                    <figcaption class="caption-skinscare">
                        Our products are vegan, never tested on animals, parabens, harsh chemicals and solely derived
                        botanically infused.
                    </figcaption>
                </figure>

                <!-- Service 3 -->
                <figure class="service-btn">
                    <img src="./img/icon-ammaterre-skincare-03_360x.png" alt="">
                    <h3>We love our earth</h3>
                    <figcaption class="caption-skinscare">
                        We want our packaging be made by recycle material with the intension encourage our Vita Skincare
                        community to use more recycle products and educating them of the importance a preserving nature.
                    </figcaption>
                </figure>

                <!-- Service 4 -->
                <figure class="service-btn">
                    <img src="./img/icon-ammaterre-skincare-01_360x.png" alt="">
                    <h3>We help others</h3>
                    <figcaption class="caption-skinscare">
                        We support others when you are buying our skincare products. A portion of your purchases are
                        donated to the Care for Skin Care Foundation. it is a non-profit organization created to support
                        people who have suffered loss of skin due to accidents, tumors, burns, scars or genetic
                        abnormalities.
                        <a href="www.careforskin.org">www.careforskin.org</a>
                    </figcaption>
                </figure>

            </nav>
        </div>

    </section>

    <!-- ----------------- SHOP -----------------  -->
    <section class="section">
        <div class="title title-shop-skinscare">
            <h1>Shop</h1>
            <div>
                <header class="header-container">
                    <h2 class="title-back title-back-skinscare">Healthy skin start here</h2>
                    <hr class="hr-skinscares">
                </header>
            </div>
        </div>
        <div class="product-center container">

            <!-- Product 1 -->
            <div class="product">
                <div class="img-cover">
                    <img src="./img/product7.jpg">
                </div>
                <p>nombre prueba 1</p>
                <div class="rating">
                    <i class='bx bxs-star'></i>
                </div>
                <div class="price">$75.66</div>
                <a href="/shop">aqui</a>
            </div>

            <!-- Product 2 -->
            <div class="product">
                <div class="img-cover">
                    <img src="./img/product7.jpg">
                </div>
                <p>nombre prueba 1</p>
                <div class="rating">
                    <i class='bx bxs-star'></i>
                </div>
                <div class="price">$75.66</div>
            </div>

            <!-- Product 3 -->
            <div class="product">
                <div class="img-cover">
                    <img src="./img/product7.jpg">
                </div>
                <p>nombre prueba 1</p>
                <div class="rating">
                    <i class='bx bxs-star'></i>
                </div>
                <div class="price">$75.66</div>
            </div>

            <!-- Product 4 -->
            <div class="product">
                <div class="img-cover">
                    <img src="./img/product7.jpg">
                </div>
                <p>nombre prueba 1</p>
                <div class="rating">
                    <i class='bx bxs-star'></i>
                </div>
                <div class="price">$75.66</div>
            </div>

        </div>
    </section>

    <!-- ----------------- Sección TESTIMONIALS -----------------  -->
    <section class="section">
        <div class="title title-shop-skinscare">
            <h1>Testimonials</h1>
            <div>
                <header class="header-container">
                    <h2 class="title-back title-back-skinscare">Clients</h2>
                    <hr class="hr-skinscares">
                </header>
            </div>
        </div>
        <div class="container-testimonials">
            <div class="slider">

                <!-- Cliente #1 -->
                <div class="slide active">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore rem quam veritatis amet sed
                        alias ab aliquam harum accusamus blanditiis sunt nulla, perferendis ad fugiat dolore eum
                        tempore? Aliquam, qui.
                    </p>
                    <div class="client-info">
                        <h3>Golge Gam</h3>
                        <span>CEO at Google</span>
                    </div>
                </div>

                <!-- Cliente #2 -->
                <div class="slide">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore rem quam veritatis amet sed
                        alias ab aliquam harum accusamus blanditiis sunt nulla, perferendis ad fugiat dolore eum
                        tempore? Aliquam, qui.
                    </p>
                    <div class="client-info">
                        <h3>Kylie Jenner</h3>
                        <span>Empresaria</span>
                    </div>
                </div>

                <!-- Cliente #3 -->
                <div class="slide">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore rem quam veritatis amet sed
                        alias ab aliquam harum accusamus blanditiis sunt nulla, perferendis ad fugiat dolore eum
                        tempore? Aliquam, qui.
                    </p>
                    <div class="client-info">
                        <h3>Carolina Herrera</h3>
                        <span>Diseñadora de moda</span>
                    </div>
                </div>
            </div>

            <div class="slider-indicator">
                <img src="./img/client-01.png" class="active" alt="" data-id="0">
                <img src="./img/client-04.png" alt="" data-id="1">
                <img src="./img/client-05.png" alt="" data-id="2">
            </div>
        </div>
    </section>


    <!-- ------------------------  LATEST BLOGS ------------------------  -->
    <section class="section-blog section-blog-skinscare">
        <div class="container-blog">
            <main class="main-blog">


                <!-- Blog 1 -->
                <div class="single-blog">
                    <img src="./img/blog_1.jpeg" class="img-blog" alt="">
                    <div class="blog-content">
                        <h3>Driven by a constant need to do better <span>Vita Style</span> </h3>
                        <p>By <a href="#"></a> Hector Perez | <a href="#"></a> Nov 21, 2018</p>
                        <a href="#" class="btn">Read More</a>
                    </div>
                </div>

                <!-- Blog 1 -->
                <div class="single-blog">
                    <img src="./img/blog_2.jpeg" class="img-blog" alt="">
                    <div class="blog-content">
                        <h3>We're changing the game <span>Vita Style</span> </h3>
                        <p>By <a href="#"></a> Hector Perez | <a href="#"></a> Nov 21, 2018</p>
                        <a href="#" class="btn">Read More</a>
                    </div>
                </div>

                <!-- Blog 1 -->
                <div class="single-blog">
                    <img src="./img/blog_3.jpeg" class="img-blog" alt="">
                    <div class="blog-content">
                        <h3>A chair of Million <span>Vita Style</span> </h3>
                        <p>By <a href="#"></a> Hector Perez | <a href="#"></a> Nov 21, 2018</p>
                        <a href="#" class="btn">Read More</a>
                    </div>
                </div>

                <!-- Blog 1 -->
                <div class="single-blog">
                    <img src="./img/blog_4.jpeg" class="img-blog" alt="">
                    <div class="blog-content">
                        <h3>A chair of Million <span>Art</span> </h3>
                        <p>By <a href="#"></a> Hector Perez | <a href="#"></a> Nov 21, 2018</p>
                        <a href="#" class="btn">Read More</a>
                    </div>
                </div>
            </main>
        </div>
    </section>

    <!-- ------------------------  Footer ------------------------  -->
    <div class="footer">
        <div class="container-footer">

            <div class="row-footer">

                <div class="footer-col-3">
                    <h3>Vita Health Center </h3>
                    <ul>
                        <li class="li-footer"></li>
                        <li>FAQ</li>
                        <li>Blogs Post</li>
                        <li>My Account</li>
                        <li>Contact us</li>
                        <li>Terms of Use — Privacy Policy</li>
                    </ul>
                </div>

                <div class="footer-col-2">
                    <img src="./img/1.png">
                </div>

                <div class="footer-col-3">
                    <h3> Vita Skincare</h3>
                    <ul>
                        <li class="li-footer"></li>
                        <li>Blogs Post</li>
                        <li>My Account</li>
                        <li>instructions</li>
                        <li>Return Policy</li>
                        <li>Terms of Use — Privacy Policy</li>
                    </ul>
                </div>

                <div class="footer-col-4">
                    <h3> Follow us</h3>
                    <ul>
                        <li>Facebook</li>
                        <li>Instagram</li>
                        <li>Pinterest</li>
                    </ul>
                </div>
            </div>
            <hr>
            <p class="copyright"> Copyright 2021 - Vita Inc</p>
        </div>
    </div>

    <!-- Scripts-->
    <%- include('partials/script.ejs'); %>
</body>

</html>