:root {
  --white: #fff;
  --black: #222;
  --primary: #3595db;
  --primary-skinscare: rgb(156, 131, 109);
  --secundary-skinscare: rgb(125, 84, 56);
  --skinscare-primary-theme: #ca9c85;
  --skinscare-dark-primary-theme: #988577;
  --skincare-dark-third: #bea890;
  --skincare-darker-theme: #835e44;
  --secondary-darker-theme:
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/*Font size formula*/

html {
  box-sizing: border-box;
  font-size: clamp(10px, 6px + 1vw, 0.8rem);
  scroll-behavior: smooth;
}

h1 {
  /*font-size: 3rem;*/
}
h2 {
  /*font-size: 2.8rem;*/
}
h3 {
  /*font-size: 2.6rem;*/
}

body {
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 100;
  /*font-size: 1.6rem;*/
  color: var(--black);
  background-color: var(--white);
}

#preloader {
  /* public\assets */
  background: #000 url("/img/loader.gif") no-repeat center center;
  background-size: 15%;
  opacity: 0.9;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100;
}

.no-scroll {
  overflow: hidden;
}

img {
  width: 100%;
}

/* ul,
li{
    list-style-type: none;
} */

a {
  color: inherit;
  text-decoration: none;
  /*font-size: 1.2rem;*/
}

.container {
  max-width: 114rem;
  margin: 0 auto;
}

/* ------------- PROMO ------------------ */
.promo {
  display: flex;
  justify-content: space-between;
  background-color: var(--primary);
  text-align: center;
  color: var(--white);
  padding: 0.5rem 1.5rem;
}

@media (max-width: 900px) {
  .promo{
    flex-direction: column;
    align-items: center;
  }
}

.media_social{
  display: flex;
  margin-left: 40px;
  justify-content: start;
  gap: 10px;
}
.media_social li {
  font-size: 20px;
}

@media (min-width: 733px) {
  .promo span {
    flex: 1 0 0;
  }
}

/*       Navigation    */

/* ----------- Elemento 1 -----------*/

/* .header{
    background-image: linear-gradient(180deg, #ffffffb5, transparent);
    background-color: #DFCFB8;
} */

.header {
  /* background-image: linear-gradient(180deg, #ffffffb5, transparent); */
  /* background-color: #DFCFB8; */
  position: absolute;
  width: 100%;
  z-index: 1;
}


.hamburger {
  display: none;
  margin-top: 1vw;
}

.hamburger i {
  font-size: 3rem;
  color: var(--primary);
}
.close {
  display: none;
}

/*
Submenu
*/

.has-submenu .submenu {
  overflow: hidden;
  position: absolute;
  transition: all 1s;
  max-height: 0;
  color: var(--primary);
}

.has-submenu:hover .submenu {
  max-height: 100px;
  overflow: visible;
  position: absolute;
  margin-left: -8px;
  background-color: #c0c0c068;
}

.has-submenu .submenu li {
  padding: 8px 8px;
  box-shadow: 0 2px 4px #b7b7b7;
}

/*menu opened
*/
.opened {
  position: fixed;
  left: 0;
  top: 0;
  width: 30vw;
  background-color: white;
  padding-left: 3rem;
  padding-bottom: 3rem;
  padding-top: 80px;
  height: 100vh;
  overflow: auto;
}

/*Close functionality only when menu is open*/
.opened.menu + .close {
  position: fixed;
  float: left;
  right: 0;
  width: 70vw;
  height: 100vh;
  top: 0;
  background-color: #00000044;
  display: block;
}

.opened.menu .nav-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 2rem;
}

.opened.menu .nav-list .nav-item {
  margin: 1rem 0;
}

.opened.menu .nav-list .nav-logo {
  position: absolute;
  top: 0;
  max-width: 20vw;
}

.opened.menu .nav-list .nav-logo .logo {
  width: 100%;
  height: auto;
}

/*hide menu hamburger when open*/
.opened.menu .nav-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 2rem;
}

.opened.menu .nav-list .nav-item {
  margin: 1rem 0;
}

/*adapt logo to responsive menu*/
.opened.menu .nav-list .nav-logo {
  position: absolute;
  top: 0;
  max-width: 20vw;
}

.opened.menu .nav-list .nav-logo .logo {
  width: 100%;
  height: auto;
}

/*aaaand hide hamburger when menu open*/
.opened.menu .hamburger {
  display: none;
}

@media (max-width: 1040px) {
  .hamburger {
    display: block;
  }
  .menu .nav-list {
    display: none;
  }

  .menu.opened .has-submenu:hover .submenu {
    margin-top: 1rem;
    background-color: transparent;
    position: relative;
  }
}

.opened.menu .hamburger {
  display: none;
}

@media (max-width: 1040px) {
  .hamburger {
    display: block;
  }
  .menu .nav-list {
    display: none;
  }
}

.d-flex {
  margin-left: -5%;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: transparent;
}

.navigation {
  width: 100%;
  height: 7rem;
  justify-content: space-between;
  background-color: transparent;
}

.logo {
  width: 90px;
  height: 60px;
}

.nav-list {
  display: flex;
  justify-content: center;
}

.nav-item {
  margin: 0 30px;
}

.nav-link {
  position: relative;
  display: inline-block;
  padding: 0.5rem 0 0.2rem;
  /*font-size: 1.5rem;*/
  color: var(--primary);
  transition: all 500ms ease-in-out;
}

.nav-link .fa-shopping-bag {
  font-size: 2.3rem;
}

.nav-link::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  top: 100%;
  left: 0;
  background-color: var(--primary);
  transition: transform 500ms;
  transform: scaleX(0);
  transform-origin: left;
}

.nav-link:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

/*@media only screen and (max-width:996px){
    
    .nav-item{
        margin: 0.3rem;
        background-color: seagreen;
        padding: 0 0.5rem;
    }

    .nav-link{
        font-size: 1.4rem;
    }

    .nav-icons span{
        font-size: 1.2rem;
    }
}*/

@media only screen and (max-width: 996px) {
  .navigation.show {
    background-color: skyblue;
  }

  .nav-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 80%;
    height: 100vh;
  }
}

.topnav{
  overflow: hidden;
  position: relative;
}

.topnav #myLinks {
  display: none;
  background-color: #ca9c85;
}

.topnav a {
  color: var(--skincare-darker-theme);
  padding: 2px 5px;
  text-decoration: none;
  font-size: 17px;
  display: block;
  position: relative;
  font-size: 25px;
}


@media (max-width: 750px) {
  .menu{
    display: none;
  }
}

@media (min-width: 750px) {
  .topnav{
    display: none;
  }
}



/* Hero */
.hero,
.glide__hero,
.banner {
  position: relative;
  width: 100%;
}

.banner img {
  /* height: 100vh; */
  bottom: 0;
}

.banner img.special_01 {
  width: 100%;
}

.banner-content {
  font-size: clamp(4px, 2px + 0.8vw, 1rem);
  position: absolute;
  top: 17%;
  /* transform: translate(13%, -70%); */
  left: 5%;
}

@media (max-width: 1060px) {
  .banner-content {
    top: 7vw;
  }
}

.banner-content h1 {
  color: var(--white);
  font-weight: 500;
  font-size: 3em;
}

.banner-content.shop-now_btn {
  top: auto;
  bottom: 17%;
  left: 31%;
}

@media (max-width: 700px) {
  .banner-content.shop-now_btn {
    left: 26%;
  }
}

.firts_title {
  width: 100%;
  font-size: 3.2rem;
}

.banner-content h3 {
  font-weight: 300;
  font-size: 2.6em;
  color: var(--white);
  margin-bottom: 1em;
}

.buttons-group a {
  display: inline-block;
  background-color: transparent;
  border: 1px solid var(--primary);
  outline: none;
  padding: 0.8em 2em;
  /* font-size: 1.6rem; */
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: 500%;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.buttons-group a {
  background-color: var(--primary);
  color: white;
  border: none;
}

.shop-buttons-now .skincare-btn-now{
  border: none;
}
.shop-buttons-now .skincare-btn-now a {
  background-color: var(--skincare-darker-theme);
  color: white;
}

.buttons-group a:hover {
  background-color: #d9c4ac;
  color: var(--black);
}

/* -------------- Nuevos productos --------------*/
.title {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 5rem;
  font-weight: 600;
}

.title h1 {
  font-weight: 400;
  color: red;
}

.title span {
  color: var(--primary);
}

.product-center {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 2rem;
  margin-bottom: 5rem;
  margin: 0 2rem;
}

.products-three {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.products-three .product {
  min-width: 30%;
}

.product {
  text-align: center;
  padding-bottom: 1rem;
  transition: all 500ms ease-in-out;
  cursor: pointer;
}

.product .img-cover {
  overflow: hidden;
}

.product img {
  width: 20rem;
  transition: all 500ms ease-in-out;
}

.product:hover img {
  transform: scale(1.2);
}

@media only screen and (max-width: 567px) {
  .title {
    font-size: 2rem;
  }
}

/* ------------- Sección de about Us ------------- */

.title h1 {
  color: var(--primary);
}

.title-shop-skinscare h1 {
  color: rgb(156, 131, 109);
}

.section {
  padding: 25px;
}

.header-container {
  position: relative;
}

.header-container hr {
  top: 2rem;
  width: 100%;
  z-index: -2;
  border: 1px solid var(--primary);
}

.header-container .hr-skinscares {
  border: 1px solid var(--secundary-skinscare);
}

@media (max-width: 900px) {
  .header-container.header-history hr {
    display: none;
  }
}

.title-back {
  display: flex;
  justify-content: center;
  margin: 25px;
  font-size: 35px;
  font-weight: 400;
  color: rgb(20, 91, 143);
}

.title-back-skinscare {
  color: rgb(125, 84, 56);
}

.title-back::after {
  content: "";
  position: absolute;
  width: 50%;
  background: white;
  height: 3rem;
  z-index: -1;
}

.title-paragraph {
  /* background-color: aqua; */
  font-weight: 100;
  font-size: 20px;
  margin: 50px;
}

.paragraph-left {
  text-align: left;
}

[class*="paragraph"] > * {
  padding-top: 1rem;
}

[class*="paragraph"] ul {
  padding-left: 2rem;
}

[class*="paragraph"] li {
  text-indent: -5px;
}

[class*="paragraph"] li::before {
  text-indent: -5px;
  content: "-";
}

.firma {
  font-family: "Alex Brush", cursive;
  margin: 25px;
}

/* ------------- Sección de OUR SERVICES ------------- */

.services-container {
  max-width: 1170px;
  margin: auto;
}

.services {
  display: flex;
  justify-content: space-around;
}

.services figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  max-width: 20%;
  text-align: center;
  margin: 0 1rem;
}

.services figure img {
  max-width: 180px;
  width: 100%;
}

.services h3 {
  font-weight: 300;
  font-size: 1.3em;
  color: var(--secundary-skinscare);
}

.services figure i {
  visibility: hidden;
}

.services figure.active i {
  visibility: visible;
}

.services-container .services-desc {
  min-height: 20vh;
  margin-top: 2rem;
  margin: 1rem 0;
  border-radius: 3px;
}

.services .caption-skinscare {
  margin-top: 15px;
}

/*.service1-desc{
    background-size: cover;
    height: 80vh;
    margin: 0 auto;
}

.service2-desc{
    background-size: cover;
    height: 80vh;
    width: 100%;
}


.service3-desc{
    background-size: cover;
    height: 80vh;
    width: 100%;
}

.service4-desc{
    background-size: cover;
    height: 80vh;
    width: 100%;
}

.service5-desc{
    background-size: cover;
    height: 80vh;
    width: 100%;
}*/

.services-container .services-desc article {
  display: none;
  min-height: 20vh;
  /*padding: 1rem 2rem;*/
}

.services-container .services-desc article img {
  width: 100%;
}
/* ------------- Sección de TESTIMONIALS ------------- */

.container-testimonials {
  background-color: #f5f5f5;
  max-width: 1170px;
  margin: auto;
  text-align: center;
  padding: 50px 15%;
}

.container-testimonials .slider {
  max-width: 600px;
  margin: auto;
}

.container-testimonials .slider .slide {
  display: none;
}

.container-testimonials .slider .slide.active {
  display: block;
  animation: slide 1s ease;
}

@keyframes slide {
  0% {
    opacity: 0;
    transform: translateX(-15px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

.container-testimonials .slider p {
  font-size: 18px;
  color: #666262;
  word-spacing: 2px;
  font-family: "Noto Sans", sans-serif;
}

.container-testimonials .slider .client-info h3 {
  font-weight: bold;
  font-size: 18px;
  margin: 30px 0 10px;
}

.container-testimonials .slider .client-info span {
  display: block;
  font-size: 16px;
  color: var(--primary);
}

.container-testimonials .slider-indicator {
  text-align: center;
  padding-top: 20px;
}

.container-testimonials .slider-indicator img {
  max-height: 80px;
  max-width: 80px;
  border-radius: 50%;
  display: inline-block;
  margin: 0 5px;
  opacity: 0.2;
  border: 4px solid #fff;
  cursor: pointer;
  transition: opacity 1s ease;
}

.container-testimonials .slider-indicator img.active {
  opacity: 1;
}

/* ------------------------ LATEST BLOGS ------------------------*/

.img-blog {
  width: 100%;
  height: 100%;
  transition: all 0.5s;
}

.section-blog {
  padding: 70px 0;
  background: var(--primary);
  text-align: center;
}

.section-blog-skinscare {
  background-color: var(--primary-skinscare);
}

.container-blog {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.main-blog {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
  margin: 30px 15px 0px 15px;
}

.single-blog {
  position: relative;
  overflow: hidden;
  max-height: 580px;
  height: 100%;
  box-sizing: border-box;
  box-shadow: 0 2px 10px rgb(48, 47, 47);
  transition: all 0.5s;
  height: 250px;
}

.single-blog:hover img {
  transform: scale(1.1);
  transition: all 0.4s;
}

.blog-content {
  position: absolute;
  left: 0;
  bottom: -60px;
  width: 100%;
  color: #fff;
  padding: 25px 5px;
  background: linear-gradient(
    45deg,
    rgba(21, 82, 153, 1) 0%,
    rgba(144, 192, 229, 0.4) 100%
  );
  transition: all 0.5s;
}

.blog-content-skincare {
  background: linear-gradient(
    45deg,
    rgb(156, 131, 109) 0%,
    rgba(125, 84, 56, 0.4) 100%
  );
}

.single-blog:hover .blog-content {
  bottom: 0;
  transition: all 0.5s;
}

.blog-content h3 {
  font-size: 20px;
  font-weight: 400;
  margin: 0;
}

.blog-content h3 span {
  display: block;
  font-size: 60%;
  margin-top: 5px;
  font-weight: 400;
}

.blog-content a {
  font-size: 14px;
  font-weight: 400;
}

.blog-content .btn {
  margin-top: 15px;
  display: block;
  padding: 5px 5px;
  border: 1px solid #fff;
  border-radius: 3px;
  font-weight: 400;
}

.blog-content .btn:hover {
  background: var(--primary);
  transition: all 0.5s;
  text-decoration: none;
}

.blog-content .btn-skincare:hover {
  background: var(--secundary-skinscare);
  transition: all 0.5s;
  text-decoration: none;
}

@media (max-width: 992px) {
  .main-blog {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
}

@media (max-width: 767px) {
  .main-blog {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
    margin: 30px 30px;
  }
}

@media (max-width: 500px) {
  .main-blog {
    grid-template-columns: repeat(1, 1fr);
    margin: 30px 30px;
  }
}

/* ------------------------ Footer ------------------------*/

.container-footer {
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.row-footer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.footer {
  background-color: rgb(20, 91, 143);
  color: var(--primary);
  font-size: 14px;
  padding: 60px 0 20px;
}

.footer-skincare {
  background-color: var(--skincare-darker-theme);
  color: var(--white);
  font-size: 14px;
  padding: 60px 0 20px;
}


.footer p {
  color: var(--primary);
}

.footer h3 {
  color: var(--primary);
  margin-bottom: 20px;
}

.footer-skincare h3 {
  color: var(--primary-skinscare);
}

.footer-col-1,
.footer-col-2,
.footer-col-3,
.footer-col-4 {
  min-width: 250px;
  margin-bottom: 20px;
}

.footer-col-1 {
  flex-basis: 30%;
}

.footer-col-2 {
  flex: 1;
  text-align: center;
}

.footer-col-2 img {
  width: 120px;
  margin-bottom: 20px;
  cursor: pointer;
}

.footer-col-3,
.footer-col-4 {
  flex-basis: 12%;
  text-align: center;
}

.footer-col-3 li {
  cursor: pointer;
  margin-bottom: 5px;
}

.footer-col-3 li:hover {
  color: #fff;
}

.footer-col-4 li {
  margin-bottom: 5px;
  cursor: pointer;
}

.footer-col-4 li:hover {
  color: #fff;
}

.footer-list a:hover{
  color: white;
}

ul {
  list-style-type: none;
}

.app-logo {
  margin-top: 20px;
}

.app-logo img {
  width: 140px;
}

.footer hr {
  border: none;
  background: #fff;
  height: 1px;
  margin: 20px 0;
}

.copyright {
  text-align: center;
}

/*FIXME: */
/* ESTA SECCION AUN APLICA PARA LAS VISTAS DE SERUM */
/* ARREGLAR ESO */
/* -------- SINGLE PRODUCT DETAILS -------------- */

.jw-modal {
  display: none;
  position: fixed;
  inset: 0;
  z-index: 10000;
  background-color: rgba(0, 0, 0, 0.75);
  padding: 40px;
  overflow: auto;
}

.jw-modal.open {
  display: block;
}

.jw-modal-body {
  width: 40%;
  padding: 20px;
  background: #ca9c85;
  border-radius: 10px;
  margin: auto;
}
@media (max-width: 900px) {
  .jw-modal-body{
    width: 100%;
  }
}
body.jw-modal-open {
  /* body overflow is hidden to hide main scrollbar when modal window is open */
  overflow: hidden;
}

.header__modal{
  display: flex;
  justify-content: center;
}

.header__modal_title{
  font-weight: bold;
  font-size: 18px;
}

.body__modal{
  margin-top: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.body__modal_subtitle{
  font-weight: bold;
  color: #4b4848;
}

.body__modal_title{
  font-size: 60px;
  color: #4b4848;
  font-weight: bold;
}

.body__modal_content{
  text-align: center;
  color: #616161;
  margin-top: 10px;
  font-size: 15px;
  font-weight: 500;
}

.modal__form{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.modal__form input{
  border: none;
  border-radius: 3px;
  padding: 5px;
  width: 180px;
  outline: none;
}

.modal__form input::placeholder{
  text-align: center;
}

.modal__form_btn{
  background: transparent;
  border: 1px solid rgba(112, 111, 111, 0.438);
  padding: 5px;
}

.moda__btn_close{
  position: absolute;
  top: 15px;
  right: 15px;
  background: transparent;
  font-size: 18px;
  border: none;
  color: #222;
}

.bootstrap-tagsinput {
  width: 100%;
}

.bootstrap-tagsinput input {
  width: 15% !important;
}

.shopping__container{
  border-top: 1px solid rgb(165, 155, 155);
  padding: 10px 0;
}

.shopping__item img{
  width: 240px;
  border-radius: 10px;
}

.shopping__title{
  font-size: 24px;
}

.shopping__quantity{
  font-size: 18px;
}

.shopping__size{
  font-size: 18px;
}

.shopping__size{
  font-size: 18px;
}

.shopping__checkout{
  border-style: solid;
  width: 160px;
  padding: 15px;
  background-color: var(--skinscare-primary-theme);
  color: white;
  border: none;
  cursor: pointer;
}

.disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.product_label {
  min-width: 50px;
  text-align: center;
  padding: 8px;
  background-color: #efccbb;
  border-radius: 8px;
  color: black;
  font-weight: bold;
  float: right;
  top: 3.8em;
  position: relative;
  right: 1.5em;
}

.product_label_home {
  width: 6em;
  text-align: center;
  padding: 8px;
  background-color: #efccbb;
  border-radius: 8px;
  color: black;
  font-weight: bold;
  display: block;
  margin: 0 auto;
}