.tabs {
	/* transform: translate(-50%, -50%); */
	width: 800px;
	/* height: 350px; */
	margin: auto;
}

.tabs .tab-header {
	display: flex;
	height: 80px;
}

.tabs .tab-header > div {
	position: relative;
	/* SE AGREGA 100/NUMERO SI SE AGREGA OTRA COLUMNA A LA TABLA DE INFORMACION */
	/* width: calc(100% / 4); -> EJEMPLO SE AGREGA OTRA CABECERA A LA TABLA*/
	width: calc(100% / 3);
	height: 100%;
	text-align: center;
	line-height: 80px;
	color: #00acee;
	cursor: pointer;
	z-index: 2;
}

.tabs .tab-header > div::before {
	content: '';
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 0%;
	background: #3595db;

	/* background: #f5f5f5; */
	z-index: -1;
	border-radius: 15px 15px 0 0;
}

.tabs .tab-header > div:hover::before {
	transition: all 300ms ease-in-out;
	height: 5%;
}

.tabs .tab-header > div.active {
	color: #fff;
	font-weight: bold;
}

.tabs .tab-header > div.active::before {
	transition: all 300ms ease-in-out;
	height: 100%;
}

.tabs .tab-content {
	position: relative;
	background: #3595db;
	/* height: calc(100%- 80px); */
	height: 350px;
	overflow: hidden;
}

.tabs .tab-content > div {
	position: relative;
	transform: scale(0.5);
	opacity: 0;
	top: 200%;
	padding: 20px;
	transition: all 300ms ease-in-out;
	color: #fff;
}

.tabs .tab-content > div.active {
	transform: scale(1);
	opacity: 1;
}

.tabs .tab-content > div:nth-child(1) {
	top: 10px;
}

.tabs .tab-content > div:nth-child(2) {
	top: -330px;
}

.tabs .tab-content > div:nth-child(3) {
	top: -490px;
}

.tabs .tab-content > div:nth-child(4) {
	top: -640px;
}

/* .tabs .tab-content > h2 {
		margin-bottom: 2px;
	} */

.tabs .tab-content > div h2 {
	margin-bottom: 10px;
}

.table-information {
	border-collapse: collapse;
	width: 100%;
}

.table-information td,
th {
	text-align: center;
	padding: 8px;
	font-size: 15px;
}
