<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Boxicons -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>

    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;400;500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap" rel="stylesheet">

    <!-- Custom Stylesheet -->
    <link rel="stylesheet" href="assets/css/styles.css">

    <!-- Glidejs -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.4.1/css/glide.core.css">

    <!-- Animate CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />

    <title>Vita health center- Acupuncture | Skincare- Vegan&organic beauty</title>
</head>

<body>
    <!--  ------------------ PROMO ------------------ -->
    <div class="promo">
        <span> <a href="#"> <i class="fas fa-envelope"></i> contactvitahealthc@gmail.com </a></span>
        <span>Get 30% OFF This Christmas Holidays</span>
        <span>
            <ul class="media_social">
                <li>
                    <a href="#"><i class="fab fa-facebook-square"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </li>
            </ul>
        </span>
    </div>

    <!-- ------------------ HEADER ------------------------ -->
    <div class="header">

        <!-- NAVIGATION -->
        <nav class="nav container">
            <div class="navigation">

                <!-- Elemento 1 -->
                <div class="hamburger">
                    <i class='bx bx-menu'></i>
                </div>

                <!-- Elemento 2 -->
                <div class="menu">

                    <div class="top">
                        <span class="close">close <i class="fas fa-times"></i> </span>
                    </div>

                    <ul class="nav-list d-flex">

                        <li class="nav-item">
                            <a href="" class="nav-link"> HOME </a>
                        </li>

                        <li class="nav-item">
                            <a href="" class="nav-link"> SKINCARE </a>
                        </li>

                        <li class="nav-item">
                            <a href="" class="nav-link"> BLOG </a>
                        </li>

                        <li class="nav-item">
                            <a href="" class="nav-link "> <img class="logo" src="./img/1.png" alt=""> </a>
                        </li>


                        <li class="nav-item">
                            <a href="" class="nav-link"> MY ACCOUNT <i class="fas fa-user"></i> </a>
                        </li>

                        <li class="nav-item">
                            <a href="" class="nav-link"> <i class="fas fa-shopping-bag"></i> </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <!-- ------------------ End Header ------------------------ -->

    <!-- -------------- Main ---------------->
    <main>
        <!-- Hero -->
        <section class="hero">
            <div class="glide" id="glide1">
                <div class="glide__track" data-glide-el="track">
                    <ul class="glide__slides glide__hero">
                        <li class="glide__slide">
                            <div class="banner">
                                <div class="banner-content">
                                    <h1 class="firts_title">DISCOVER OUR NEW SKIN</h1>
                                    <h1 class="firts_title">CARE PRODUCTS</h1>
                                    <h3>Healthy skin start here</h3>
                                    <div class="buttons-group">
                                        <button>SHOP NOW</button>
                                    </div>
                                </div>
                                <img src="./img/banner_07.png" class="special_01" alt="">
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </main>

    <!-- Glidejs -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.4.1/glide.min.js">
    </script>

    <!-- ----------- Sección de productos ------------- -->
    <section class="section">
        <div class="product-center container">

            <!-- Producto #1 -->
            <div class="product">
                <div class="img-cover">
                    <img src="./img/product7.jpg" alt="">
                </div>
                <p>Hp Pavilon i5</p>
                <div class="rating">
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                </div>
                <div class="price">$895</div>
            </div>

            <!-- Producto #2 -->
            <div class="product">
                <div class="img-cover">
                    <img src="./img/product8.jpg" alt="">
                </div>
                <p>Hp Pavilon i5</p>
                <div class="rating">
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                </div>
                <div class="price">$895</div>
            </div>

            <!-- Producto #3 -->
            <div class="product">
                <div class="img-cover">
                    <img src="./img/product9.jpg" alt="">
                </div>
                <p>Hp Pavilon i5</p>
                <div class="rating">
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                </div>
                <div class="price">$895</div>
            </div>

            <!-- Producto #4 -->
            <div class="product">
                <div class="img-cover">
                    <img src="./img/product10.jpg" alt="">
                </div>
                <p>Hp Pavilon i5</p>
                <div class="rating">
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                </div>
                <div class="price">$895</div>
            </div>

            <div class="hamburger">
                <i class="fas fa-bars"></i>
            </div>
        </div>
    </section>

    <!-- ----------- Sección About Us------------- -->
    <section class="section">

        <div class="title">
            <h1>About us</h1>
            <div>
                <header class="header-container">
                    <!-- - HISTORY ABOUT VITAHEALTHC - -->
                    <h2 class="title-back">Vita Health Center history</h2>
                    <hr>
                </header>
                <p class="title-paragraph">Far far away, behind the word mountains, far from the countries Vokalia and
                    Consonantia, there live the
                    blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large
                    language
                    ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia.
                    It
                    is a paradisematic country, in which roasted parts of sentences fly into your mouth. Even the
                    all-powerful Pointing has no control about the blind texts it is an almost unorthographic</p>
                <p class="firma">Karla Andreina Colmenarez Ángulo</p>

                <header class="header-container">
                    <!-- - MISSION - -->
                    <h2 class="title-back">MISSION</h2>
                    <hr>
                </header>
                <p class="title-paragraph">Vita Health Center is an Acupuncture Clinic that provides excellent service
                    to our community. We want to help our community to use alternative medicine to prevent or treat
                    health conditions by using different techniques such as needle, moxa, cupping, gua sha,
                    electroacupuncture and others.

                    Our specializations are facial acupuncture, rejuvenation acupuncture, neuro acupuncture, sport &
                    orthopedic acupuncture, fertility, and massage therapy.

                    Our clinic is proud to do a private label on Vita skincare because we want to make sure we can give
                    our clients vegan and organic skincare products and better cosmetic acupuncture results.
                </p>

                <header class="header-container">
                    <!-- - VISION - -->
                    <h2 class="title-back">VISION</h2>
                    <hr>
                </header>
                <p class="title-paragraph">We strive to work with the community to improve the lives of our patients and
                    their families. We provide Acupuncturist and Oriental Medicine expertise to our community as well as
                    other health professionals.

                    We work professionally with our referring Doctors and Acupuncturist to help as needed. We work with
                    conventional doctors and incorporate western medical practices to ensure the best outcome for our
                    patients.

                    We use primarily Vita Skincare products. We support the use of these products as well as provide
                    professional advice on how to use the products successfully
                </p>
            </div>
        </div>
    </section>

    <!-- Scripts-->
    <script src="assets/js/index.js"></script>
    <script src="assets/js/product.js"></script>
    <script src="assets/js/slider.js"></script>
</body>

</html>