<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

    <!-- Favicon -->
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">

    <!-- Google Fonts -->
    <!-- <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;900&display=swap" rel="stylesheet" /> -->

    <!-- <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap" rel="stylesheet"> -->

    <!-- <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100&display=swap" rel="stylesheet"> -->

    <!-- <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+HK:wght@100;300;400&display=swap" rel="stylesheet"> -->

    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">


    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <!--Glidejs -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.4.1/css/glide.core.css">

    <!-- Animated Css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />

    <!-- Custom CSS -->
    <!-- <link rel="stylesheet" href="assets/css/styles.css"> -->

    <!-- Box Icons -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>


    <!-- 2da configuracion de prueba -->
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css'>
    <link rel="stylesheet" href="assets/css/styles.css">


    <title>Vita health center- Acupuncture | Skincare- Vegan&organic beauty</title>
</head>

<!-- --------------------- BODY -----------------------------  -->

<body class="">

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- <img  class="navbar-brand" src="./img/logo_azul1.png" alt=""> -->
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-center">
                    <li><a href="#">HOME</a></li>
                    <li><a href="#">SKINCARE</a></li>
                    
                    <li> <img class="navbar-brand" src="./img/logo_azul1.png" alt=""> </li>
                    <li><a href="#">BLOG</a></li>
                    <li><a href="#">MY ACCOUNT  <i class='bx bxs-user'></i> </a></li>
                    <li><a href="#"> <i class='bx bx-shopping-bag' ></i> </a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>

    <!-- Configuracion anterior -->

    <!-- Header -->
    <!-- <header class="header" id="header">
        <nav class="navigation"> -->

    <!-- Elemento padre -->
    <!-- <div class="nav-center container"> -->

    <!-- 1er Elemento -->
    <!-- <a href="#home" class="logo">
                    <h1>VITA <span>HEALT</span> CENTER</h1>
                </a> -->

    <!-- 2do Elemento -->
    <!-- <div class="nav-menu"> -->

    <!-- VITE HEALT CENTER LOGO DEL MODO RESPONSIVE -->
    <!-- modo responsive -->
    <!-- <div class="nav-top">
                        <div class="logo">
                            <h1>VITA <span>HEALT</span> CENTER</h1>
                        </div>

                        <div class="close">
                            <i class="fas fa-times"></i>
                        </div>
                    </div> -->

    <!-- Menu del header -->
    <!-- <ul class="nav-list">

                        <li class="nav-item">
                            <a href="#home" class="nav-link scroll-link">Home</a>
                        </li>

                        <li class="nav-item">
                            <a href="#skincare" class="nav-link scroll-link">Skincare</a>
                        </li>

                        <li class="nav-item">
                            <a href="#new" class="nav-link scroll-link">New</a>
                        </li>

                        <li class="nav-item">
                            <a href="#recent" class="nav-link scroll-link">Recent</a>
                        </li>

                        <li class="nav-item">
                            <a href="#blog" class="nav-link scroll-link">Blog</a>
                        </li>

                    </ul>

                </div> -->

    <!-- 3er Elemento -->
    <!-- <div class="nav-icons">
                    <span><i class="fas fa-user"></i></span>
                    <span><i class="fas fa-search"></i></span>
                    <span><i class="fas fa-shopping-cart"></i></span>
                </div> -->

    <!-- 4to Elemento -->
    <!-- <div class="hamburger">
                    <i class="fas fa-bars"></i>
                </div>

            </div>
        </nav>
    </header> -->
    <!-- End Header -->

    <!-- Main -->
    <main>

        <!-- Hero -->
        <section class="hero">

            <div class="glide" id="glide1">
                <div class="glide__track" data-glide-el="track">
                    <ul class="glide__slides glide__hero">

                        <!-- Elemento 1 -->
                        <li class="glide__slide">
                            <div class="banner">
                                <img src="./img/banner_03.png" class="special_01" alt="">
                                <div class="banner-content">
                                    <!-- <span>New Inspiration 2021</span> -->
                                    <h1>DISCOVER OUR NEW SKIN CARE PRODUCTS</h1>
                                    <h3>Healthy skin start here</h3>
                                    <div class="buttons-group">
                                        <button>SHOP NOW</button>
                                        <!-- <button>SHOP</button> -->
                                    </div>
                                </div>
                            </div>
                        </li>

                        <!-- Elemento 2 -->
                        <!-- <li class="glide__slide">
                            <div class="banner">
                                <div class="banner-content">
                                    <span>New Inspiration 2021</span>
                                    <h1>DISCOVER OUR NEW SKIN CARE PRODUCTCS</h1>
                                    <h3>Healthy skin start here</h3>
                                    <div class="buttons-group">
                                        <button>SKIN CARE</button>
                                        <button>SHOP</button>
                                    </div>
                                </div>
                                <img src="./img/banner_2.png" class="special_02" alt="">
                            </div>
                        </li> -->

                        <!-- Elemento 3 -->
                        <!-- <li class="glide__slide">
                            <div class="banner">
                                <div class="banner-content">
                                    <span>New Inspiration 2021</span>
                                    <h1>DISCOVER OUR NEW SKIN CARE PRODUCTCS</h1>
                                    <h3>Healthy skin start here</h3>
                                    <div class="buttons-group">
                                        <button>SKIN CARE</button>
                                        <button>SHOP</button>
                                    </div>
                                </div>
                                <img src="./img/banner_3.png" class="special_03" alt="">
                            </div>
                        </li> -->
                    </ul>
                </div>


                <!-- Glide Arrows -->
                <!-- <div class="glide__arrows" data-glide-el="controls"> -->

                <!-- Buttton 1 -->
                <!-- <button class="glide__arrow glide__arrow--left" data-glide-dir="<">
                        <i class="fas fa-arrow-left"></i>
                    </button> -->

                <!-- Buttton 2 -->
                <!-- <button class="glide__arrow glide__arrow--right" data-glide-dir=">"><i
                            class="fas fa-arrow-right"></i>
                    </button>
                </div> -->

            </div>
        </section>
    </main>
    <div>
        <h1>WEB EN CONSTRUCCIÓN</h1>
        <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis minima reprehenderit labore et voluptatem expedita at explicabo aut necessitatibus ab officiis omnis magnam veniam, nisi libero sequi iure. Porro, veritatis.</P>
        <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis minima reprehenderit labore et voluptatem expedita at explicabo aut necessitatibus ab officiis omnis magnam veniam, nisi libero sequi iure. Porro, veritatis.</P>
        <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis minima reprehenderit labore et voluptatem expedita at explicabo aut necessitatibus ab officiis omnis magnam veniam, nisi libero sequi iure. Porro, veritatis.</P>
        <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis minima reprehenderit labore et voluptatem expedita at explicabo aut necessitatibus ab officiis omnis magnam veniam, nisi libero sequi iure. Porro, veritatis.</P>
        <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis minima reprehenderit labore et voluptatem expedita at explicabo aut necessitatibus ab officiis omnis magnam veniam, nisi libero sequi iure. Porro, veritatis.</P>
        <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis minima reprehenderit labore et voluptatem expedita at explicabo aut necessitatibus ab officiis omnis magnam veniam, nisi libero sequi iure. Porro, veritatis.</P>
        <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis minima reprehenderit labore et voluptatem expedita at explicabo aut necessitatibus ab officiis omnis magnam veniam, nisi libero sequi iure. Porro, veritatis.</P>
        <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis minima reprehenderit labore et voluptatem expedita at explicabo aut necessitatibus ab officiis omnis magnam veniam, nisi libero sequi iure. Porro, veritatis.</P>
        <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis minima reprehenderit labore et voluptatem expedita at explicabo aut necessitatibus ab officiis omnis magnam veniam, nisi libero sequi iure. Porro, veritatis.</P>
        <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis minima reprehenderit labore et voluptatem expedita at explicabo aut necessitatibus ab officiis omnis magnam veniam, nisi libero sequi iure. Porro, veritatis.</P>
        <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis minima reprehenderit labore et voluptatem expedita at explicabo aut necessitatibus ab officiis omnis magnam veniam, nisi libero sequi iure. Porro, veritatis.</P>
        <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis minima reprehenderit labore et voluptatem expedita at explicabo aut necessitatibus ab officiis omnis magnam veniam, nisi libero sequi iure. Porro, veritatis.</P>
        <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis minima reprehenderit labore et voluptatem expedita at explicabo aut necessitatibus ab officiis omnis magnam veniam, nisi libero sequi iure. Porro, veritatis.</P>
        <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis minima reprehenderit labore et voluptatem expedita at explicabo aut necessitatibus ab officiis omnis magnam veniam, nisi libero sequi iure. Porro, veritatis.</P>
        <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis minima reprehenderit labore et voluptatem expedita at explicabo aut necessitatibus ab officiis omnis magnam veniam, nisi libero sequi iure. Porro, veritatis.</P>
        <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis minima reprehenderit labore et voluptatem expedita at explicabo aut necessitatibus ab officiis omnis magnam veniam, nisi libero sequi iure. Porro, veritatis.</P>
        <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis minima reprehenderit labore et voluptatem expedita at explicabo aut necessitatibus ab officiis omnis magnam veniam, nisi libero sequi iure. Porro, veritatis.</P>
        <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis minima reprehenderit labore et voluptatem expedita at explicabo aut necessitatibus ab officiis omnis magnam veniam, nisi libero sequi iure. Porro, veritatis.</P>
        <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis minima reprehenderit labore et voluptatem expedita at explicabo aut necessitatibus ab officiis omnis magnam veniam, nisi libero sequi iure. Porro, veritatis.</P>
        <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis minima reprehenderit labore et voluptatem expedita at explicabo aut necessitatibus ab officiis omnis magnam veniam, nisi libero sequi iure. Porro, veritatis.</P>
        <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis minima reprehenderit labore et voluptatem expedita at explicabo aut necessitatibus ab officiis omnis magnam veniam, nisi libero sequi iure. Porro, veritatis.</P>
        <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis minima reprehenderit labore et voluptatem expedita at explicabo aut necessitatibus ab officiis omnis magnam veniam, nisi libero sequi iure. Porro, veritatis.</P>
        <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis minima reprehenderit labore et voluptatem expedita at explicabo aut necessitatibus ab officiis omnis magnam veniam, nisi libero sequi iure. Porro, veritatis.</P>
        <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis minima reprehenderit labore et voluptatem expedita at explicabo aut necessitatibus ab officiis omnis magnam veniam, nisi libero sequi iure. Porro, veritatis.</P>
        <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis minima reprehenderit labore et voluptatem expedita at explicabo aut necessitatibus ab officiis omnis magnam veniam, nisi libero sequi iure. Porro, veritatis.</P>
        <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis minima reprehenderit labore et voluptatem expedita at explicabo aut necessitatibus ab officiis omnis magnam veniam, nisi libero sequi iure. Porro, veritatis.</P>
        <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis minima reprehenderit labore et voluptatem expedita at explicabo aut necessitatibus ab officiis omnis magnam veniam, nisi libero sequi iure. Porro, veritatis.</P>
        <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis minima reprehenderit labore et voluptatem expedita at explicabo aut necessitatibus ab officiis omnis magnam veniam, nisi libero sequi iure. Porro, veritatis.</P>
        <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis minima reprehenderit labore et voluptatem expedita at explicabo aut necessitatibus ab officiis omnis magnam veniam, nisi libero sequi iure. Porro, veritatis.</P>
        <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis minima reprehenderit labore et voluptatem expedita at explicabo aut necessitatibus ab officiis omnis magnam veniam, nisi libero sequi iure. Porro, veritatis.</P>
        <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis minima reprehenderit labore et voluptatem expedita at explicabo aut necessitatibus ab officiis omnis magnam veniam, nisi libero sequi iure. Porro, veritatis.</P>
        <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis minima reprehenderit labore et voluptatem expedita at explicabo aut necessitatibus ab officiis omnis magnam veniam, nisi libero sequi iure. Porro, veritatis.</P>
        <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis minima reprehenderit labore et voluptatem expedita at explicabo aut necessitatibus ab officiis omnis magnam veniam, nisi libero sequi iure. Porro, veritatis.</P>
    </div>
    <!-- End Main -->

    <!-- Footer -->
    <!-- End Footer -->



    <!-- Glidejs -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.4.1/glide.min.js"></script>

    <!-- Scripts -->
    <script src="assets/js/index.js"></script>
    <script src="assets/js/product.js"></script>
    <script src="assets/js/slider.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js'></script>
    <script src="assets/js/script.js"></script>


    <!-- --------------------- End BODY -----------------------------  -->
</body>


</html>