:root{
    --white: #fff;
    --black: #222;
    --pink: #f60091;
    --grey: #444;
    --grey2: #959595;
    --grey-alt: #d1e2e9;
    --yellow: #ffd800;
    --green: #59b210;
    --blue: #3595db;
    --brown1: #a07f65;
    --brown2: #d9c4ac;
}

*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
}

body{
    position: relative;
    font-family: 'Open Sans Condensed', sans-serif;
    /* font-family: 'Poppins', sans-serif; */
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--black);
    background-color: var(--white);
    z-index: -1;
    height: 100vh;
}

li,ul{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    max-height: 100%;
}

.container {
    max-width: 114rem;
    margin: 0 auto;
}

@media only screen and (max-width: 1200px){
    .container{
        padding: 0 3rem;
    }
}

@media only screen and (max-width: 768px){
    .container{
        padding: 0 5rem;
    }
}

/* ---------------------- Navigation ----------------------*/

.navigation{
    padding: 1.6rem 0; 
}

.nav-center{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fix-nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1200;
    background-color: var(--white);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.logo{
    color: var(--black);
} 

.logo span{
    color: var(--blue);
}

.nav-top{
    display: none;
}

.nav-list{
    display: flex;
    align-items: center;
}

.nav-item:not(:last-child){
    margin-right: 0.5rem;
}

.nav-item{
    padding: 0 1rem;
}

.nav-link{
    position: relative; 
    display: inline-block;
    padding: 0.5rem 0 0.2rem;
    font-size: 1.5rem;
    color: var(--blue);
    text-transform: uppercase;
    transition: all 500ms ease-in-out;
}

.nav-link::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    top: 100%;
    left: 0;
    background-color: var(--blue);
    transition: transform 500ms;
    transform: scaleX(0);
    transform-origin: left;
}

.nav-link:hover:after{
    transform: scaleX(1);
    transform-origin: left;
}

.nav-icons span:not(:last-child){
    margin-right: 0.5rem;
}

.nav-icons span {
    font-size: 1.6rem;
    padding: 0.3rem 0.7rem;
    cursor: pointer;
    transition: all 300ms case-in-out;
}

.nav-icons .fas {
    transition: all 300ms ease-in-out;
}

.nav-icons span:hover .fas {
    color: var(--blue);
}


.hamburger{
    display: none;
}

@media only screen and (max-width: 996px){
    .nav-item:not(:last-child){
        margin-right: 0.3rem;
    }

    .nav-item{

        padding: 0 0.5rem;
    }

    .nav-link{
        font-size: 1.4rem;
    }

    .nav-icons span {
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 768px){
    .navigation.show{
        background-color: rgba(0, 0, 0, 0.6);
    }

    .nav-menu{
        position: fixed;
        top: 0;
        left: -100%;
        width: 80%;
        height: 100vh;
        z-index: 9990;
        background-color: var(--white);
        transition: all 500ms linear;
    }

    .nav-menu.show{
        left: 0;
    }

    .nav-list{
        flex-direction: column;
        align-items: start;
        padding: 2rem 0;
    }

    .nav-top{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--blue);
        padding: 1.6rem 2rem;
    }

    .nav-top .logo h1{
        font-size: 1.8rem;
        font-weight: 500;
        color: var(--white);
    }

    .nav-top .logo h1 span{
        color: var(--white);
    }

    .hamburger{
        display: block;
        font-size: 2.5rem;
        cursor: pointer;
    }

    .close{
        font-size: 2rem;
        color: var(--white);
        cursor: pointer;
    }

    .nav-item:not(:last-child){
        margin-bottom: 1rem;
    }

    .nav-link{
        font-size: 1.8rem;
        width: 100%;
        padding: 1rem 2rem;
    }

    .nav-icons span{
        display: none;
        border: none;
        font-size: 1.6rem;
    }

    .nav-icons span:last-child{
        display: block; 
    }

    body.show::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        z-index: 999;
    }

}

/* Hero */
.hero,.glide__hero,.banner{
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: var(--brown2);
}

.banner img {
    position: absolute;
    bottom: 0;
}

.banner img.special_01{
    width: 85rem;
    right: -10%;
}

.banner img.special_02{
    width: 100rem;
    right: -10%;
}

.banner img.special_03{
    width: 100rem;
    right: -5%;
}

.banner-content{
    position: absolute;
    top: 50%;
    transform: translate(25%,-50%);
}

.banner-content span{
    display: inline-block;
    font-size: 2.1rem;
    color: var(--grey);
    margin-bottom: 1rem;
}

.banner-content h1{
    font-size: 3.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.banner-content h3{
    font-weight: 400;
    color: var(--grey);
    margin-bottom: 2rem;
}

.buttons-group button{
    display: inline-block;
    background-color: transparent;
    border: 1px solid var(--black);
    outline: none;
    padding: 1.2rem 3rem;
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: 1200px;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

/*En el tutorial se usan dos configuraciones de estilos para cada boton.
    En este se usa un solo estilo para los dos
*/

/*

Button -> Skin care
Button -> Shop

*/
.buttons-group button{
    background-color: var(--blue);
    color: var(--white);
}

.buttons-group button:hover{
    background-color: transparent;
    color: var(--black);
}

/* ----------------- Glide arrows -------------------*/
.glide__arrows{
    top: 50%;
}

.glide__arrow {
    position: absolute;
    top: 50%;
    background-color: #555;
    border: 1px solid var(--black);
    outline: none;
    padding: 1.3rem 1.5rem;
    border-radius: 50%;
    font-size: 1.6rem;
    color: var(--white);
    visibility: hidden;
    opacity: 0;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.glide__arrow:hover{
    color: var(--black);
    background-color: transparent;
}

.glide:hover .glide__arrow {
    visibility: visible;
    opacity: 1;
}

.glide__arrow--left{
    left: 5%;
}

.glide__arrow--right{
    right: 5%;
}