<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head.ejs'); %>
    <!-- FIXME: -->
    <!-- QUITAR LA REFERENCIA A ESTE ARCHIVO YA QUE NO APLICA NADA -->
    <!-- <link rel="stylesheet" href="assets/css/styles_shop.css" /> -->
    <link rel="stylesheet" href="/assets/css/styles_view_product.css" />
</head>

<body>
  <!--  ------------------ PROMO ------------------ -->
  <%- include('../partials/banner.ejs'); %>

  <!-- ------------------ HEADER ------------------------ -->
  <div class="header">
    <%- include('../partials/header.ejs', {account: user?.name ?? "" , car }); %>
  </div>
  <!-- ------------------ End Header ------------------------ -->

  <!-- ----------------- SINGLE PRODUCT DETAILS ------------- -->